<!-- Folder Tree View -->
<div class="folder-tree">
  <ng-container *ngTemplateOutlet="nodeTemplate; context: { nodes: folderTree }"></ng-container>
</div>

<!-- Recursive Template for Tree Nodes -->
<ng-template #nodeTemplate let-nodes="nodes">
  <ul class="tree-list">
    <li *ngFor="let node of nodes" class="tree-item" [ngClass]="{'expanded': isExpanded(node.id)}">
      <div class="node-content">
        <!-- Node Icon - now using the icon property directly from the node -->
        <i class="fas" [ngClass]="node.type === 'folder' ? (isExpanded(node.id) ? 'fa-folder-open' : 'fa-folder') : node.icon"></i>
        
        <!-- Node Name -->
        <span class="node-name" (click)="node.type === 'folder' ? toggleNode(node.id) : downloadFile(node)">
          {{ node.name }}
        </span>
        
        <!-- Context Menu Button -->
        <button class="menu-button" [matMenuTriggerFor]="menu">
          <i class="fas fa-ellipsis-v"></i>
        </button>
        
        <!-- Context Menu -->
        <mat-menu #menu="matMenu">
          <ng-container *ngIf="node.type === 'folder'">
            <button mat-menu-item *ngFor="let item of getFolderMenuItems(node)" (click)="item.action()">
              <i class="fas" [ngClass]="item.icon"></i>
              <span>{{ item.label }}</span>
            </button>
          </ng-container>
          <ng-container *ngIf="node.type === 'file'">
            <button mat-menu-item *ngFor="let item of getFileMenuItems(node)" (click)="item.action()">
              <i class="fas" [ngClass]="item.icon"></i>
              <span>{{ item.label }}</span>
            </button>
          </ng-container>
        </mat-menu>
      </div>
      
      <!-- Children (if folder and expanded) -->
      <div *ngIf="node.type === 'folder' && isExpanded(node.id) && node.children && node.children.length > 0" class="node-children">
        <ng-container *ngTemplateOutlet="nodeTemplate; context: { nodes: node.children }"></ng-container>
      </div>
    </li>
  </ul>
</ng-template>

<!-- Empty state when no folders/files -->
<div *ngIf="folderTree.length === 0" class="empty-state">
  <i class="fas fa-folder-open"></i>
  <p>No folders or files found</p>
  <button mat-raised-button color="primary" (click)="createRootFolder()">
    Create your first folder
  </button>
</div>