.dashboard-container {
  height: 100vh;
}

.dashboard-sidenav {
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  position: relative;
}

.sidenav-profile {
  padding: 16px;
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidenav-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 16px 20px;
  border-bottom: none;
}

.logo-appname-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-cloud {
  font-size: 2rem;
  color: #90caf9;
  vertical-align: middle;
}

.app-title {
  font-size: 2.1em;
  font-weight: 900;
  font-family: 'Inter', 'Roboto', sans-serif;
  color: #1976d2;
  letter-spacing: 1.2px;
  vertical-align: middle;
  width: 100%;
  text-align: left;
  line-height: 1.1;
}


.logo-small {
  width: 32px;
  height: 32px;
}

.app-name {
  font-size: 1.3em;
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

.dashboard-content {
  padding: 32px;
}

.hide-desktop {
  display: none;
}

@media (max-width: 800px) {
  .dashboard-sidenav {
    width: 60vw;
  }
  .hide-desktop {
    display: inline-flex;
  }
}
