<mat-sidenav-container class="dashboard-container" autosize>
  <mat-sidenav #sidenav mode="side" opened class="dashboard-sidenav" [style.width.%]="sidenavWidth()">
    <div class="sidenav-content">
      <div class="sidenav-header">
        <app-logo-appname></app-logo-appname>
      </div>

      <div class="file-list-container">
        <mat-nav-list>
          <app-folder-list></app-folder-list>
        </mat-nav-list>
      </div>

      <div class="sidenav-footer">
        <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-btn">
          <mat-icon>account_circle</mat-icon>
          <span>{{ userName() | truncate:15 }}</span>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item [routerLink]="['/dashboard/profile']">Profile</button>
          <button mat-menu-item [routerLink]="['/dashboard/settings']">Settings</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </div>
    <div class="resizer" (mousedown)="startResize($event)"></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>    
  </mat-sidenav-content>
</mat-sidenav-container>