<h2 mat-dialog-title>Upload Files to {{folder.name}}</h2>
<mat-dialog-content>
  <div
    class="file-drop-zone"
    [class.active]="dropZoneActive"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >
    <p>Drag and drop files here</p>
  </div>

  <!-- Remove matInput here, and just use a plain input type="file" -->
    <input
      type="file"
      (change)="onFileSelected($event)"
      [formControl]="fileControl"
      multiple
    />

  <ul>
    <li *ngFor="let file of files">{{ file.name }}</li>
  </ul>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onUpload()">Upload</button>
</mat-dialog-actions>
